In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from sklearn.metrics import mean_squared_error
from math import sqrt
#%matplotlib inline
from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

import warnings
warnings.filterwarnings("ignore")

In [4]:
oil_df = pd.read_csv('oil.csv')

In [5]:
oil_df.shape

(1218, 2)

In [6]:
oil_df.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [7]:
oil_df.rename(columns = {'dcoilwtico':'crude_oil_price'},inplace = True)

In [8]:
oil_df

            date  crude_oil_price
0     2013-01-01              NaN
1     2013-01-02            93.14
2     2013-01-03            92.97
3     2013-01-04            93.12
4     2013-01-07            93.20
...          ...              ...
1213  2017-08-25            47.65
1214  2017-08-28            46.40
1215  2017-08-29            46.46
1216  2017-08-30            45.96
1217  2017-08-31            47.26

[1218 rows x 2 columns]

In [9]:
oil_df.isnull().sum()

date                0
crude_oil_price    43
dtype: int64

In [14]:
oil_df.crude_oil_price.min()

26.19

In [10]:
oil_df.crude_oil_price.max()

110.62

In [15]:
oil_df.crude_oil_price.mean()

67.71436595744689